<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="Battery Tile">

        <activity
            android:name="net.pgaskin.batterytile.BatteryTileLongPressHandler"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>

        <service
            android:name="net.pgaskin.batterytile.BatteryTileService"
            android:directBootAware="true"
            android:exported="true"
            android:icon="@drawable/ic_battery_0_bar"
            android:label="Battery"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true"/>
        </service>

    </application>

</manifest>